#ESTRUTURA DE REPETIÇÃO
##Todos estes algoritmos/programas podem ser implementados com o comando **while** ou **for**. Para estudar, como sugestão, implemente cada exercício com as **duas** estruturas de repetição.

In [ ]:
#>>>>>>>>>>>> forma ERRADA
nome1 = input('Digite o nome ')
print('Olá',nome1,' tudo bem?')
nome2 = input('Digite o nome ')
print('Olá',nome2,' tudo bem?')
nome3 = input('Digite o nome ')
print('Olá',nome3,' tudo bem?')
nome4 = input('Digite o nome ')
print('Olá',nome4,' tudo bem?')

In [ ]:
q_alunos = 1 # 1º passo inicializar
while q_alunos < 5: # condição de parada
    print('Quantidade de alunos: ',q_alunos)
    # incremento deve ser colocado na última linha
    q_alunos = q_alunos + 1

In [ ]:
for contado in range(10):
    if contado < 2:
        ''
    elif contado > 2:
        print(contado)

3
4
5
6
7
8
9

###1. Faça um algoritmo  que mostre 10 vezes a frase “Bem vindo a Fatec!”. Pode implementar com o comando while ou for.

In [ ]:
i = 0
while(i != 10):
    print("Bem vindo a Fatec!")
    i += 1

Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!

In [ ]:
for i in range(0,10):
    print("Bem vindo a Fatec!")

Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!
Bem vindo a Fatec!

###2. Faça um algoritmo que mostre o cumprimento ‘Olá ‘ para o nome de alguém (4 pessoas). Exemplo ‘Olá Mariana’. Pode implementar com o comando while ou for.

In [ ]:
i = 0
while(i<len(nomes)):
    nome = input("Digite o nome: ")
    print(f"Olá {nome}!")
    i += 1

Digite o nome: re
Olá re!
Digite o nome: as
Olá as!
Digite o nome: as
Olá as!
Digite o nome: er
Olá er!

In [ ]:
for i in range(4):
    nome = input("Digite o nome: ")
    print(f"Olá {nome}!")

Digite o nome: re
Olá re!
Digite o nome: re
Olá re!
Digite o nome: as
Olá as!
Digite o nome: as
Olá as!

###3. Faça um algoritmo que mostre os valores de 0 a 15. Pode implementar com o comando while ou for.

In [ ]:
for i in range(16):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

###4. Faça um algoritmo que mostre os valores de 3 a 20. Pode implementar com o comando while ou for.

In [ ]:
for i in range(3, 21):
    print(i, end=" ")

3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

###5. Faça um algoritmo que calcule e mostre a tabuada do 5. Pode implementar com o comando while ou for.

In [ ]:
for i in range(11):
    print(5*i)

0
5
10
15
20
25
30
35
40
45
50

###6. Faça um algoritmo que receba a idade de 10 pessoas, calcule e exiba a quantidade de pessoas maiores de idade, sendo que a maioridade é obtida após completar 18 anos. Pode implementar com o comando while ou for.

In [ ]:
i = 0
q = 0
while(i<10):
    idade = int(input("Digite a idade: "))
    if idade >= 18:
        q += 1
    i += 1

print(f"Quantidade de pessoas maiores de idade: {q}")

Digite a idade: 12
Digite a idade: 23
Digite a idade: 17
Digite a idade: 18
Digite a idade: 12
Digite a idade: 90
Digite a idade: 23
Digite a idade: 18
Digite a idade: 12
Digite a idade: 18
Quantidade de pessoas maiores de idade: 6

In [ ]:
q = 0
for i in range(10):
    idade = int(input("Digite a idade: "))
    if idade >= 18:
        q += 1

print(f"Quantidade de pessoas maiores de idade: {q}")

Digite a idade: 12
Digite a idade: 18
Digite a idade: 12
Digite a idade: 19
Digite a idade: 12
Digite a idade: 12
Digite a idade: 12
Digite a idade: 12
Digite a idade: 12
Digite a idade: 12
Digite a idade: 12
Quantidade de pessoas maiores de idade: 2

###7. Escreva um algoritmo que receba 23 números, calcule e exiba a quantidade de números pares e impares. Pode implementar com o comando while ou for.

In [ ]:
par = 0
impar = 0
for i in range(23):
    n = int(input("Digite o número: "))
    if (n%2) == 0:
        par += 1
    else:
        impar += 1

print(f"Quantidade números pares: {par}\tQuantidade de números ímpares: {impar}")

Digite o número: 12
Digite o número: 2
Digite o número: 2
Digite o número: 2
Digite o número: 1
Digite o número: 1
Digite o número: 2
Digite o número: 2
Digite o número: 1
Digite o número: 1
Digite o número: 2
Digite o número: 1
Digite o número: 2
Digite o número: 1
Digite o número: 2
Digite o número: 1
Digite o número: 2
Digite o número: 1
Digite o número: 1
Digite o número: 1
Digite o número: 0
Digite o número: 2
Digite o número: 1
Quantidade números pares: 12	Quantidade de números ímpares: 11

###8. Faça um algoritmo que calcule e exiba o salário reajustado de dez funcionários de acordo com a seguinte regra (pode implementar com o comando while ou for):
## Salário até 300, reajuste de 50%;

##Salários maiores que 300, reajuste de 30%.

In [ ]:
f = 1
while(f<=10)
    salario = float(input("Digite o salário: R$"))
    if salario <= 300:
        r = 1.5
    else:
        r = 1.3
    print(f"{f}. Salário reajustado: R${(salario*r):.2f}")
    f += 1

Digite o salário: R$123
1. Salário reajustado: R$184.50
Digite o salário: R$123
2. Salário reajustado: R$184.50
Digite o salário: R$31
3. Salário reajustado: R$46.50
Digite o salário: R$213
4. Salário reajustado: R$319.50
Digite o salário: R$2123
5. Salário reajustado: R$2759.90
Digite o salário: R$123
6. Salário reajustado: R$184.50
Digite o salário: R$123
7. Salário reajustado: R$184.50
Digite o salário: R$123
8. Salário reajustado: R$184.50
Digite o salário: R$213
9. Salário reajustado: R$319.50
Digite o salário: R$123
10. Salário reajustado: R$184.50


###9. Faça um algoritmo que conheça 4 preços de produtos, some-os e mostre o resultado. Pode implementar com o comando while ou for.

In [ ]:
r = 0
for i in range(4):
    preco = float(input("Digite o valor do produto: R$"))
    r += preco

print(f"Resultado da soma: R${r:.2f}")

Digite o valor do produto: R$12
Resultado da soma: R$12.00
Digite o valor do produto: R$123
Resultado da soma: R$135.00
Digite o valor do produto: R$41
Resultado da soma: R$176.00
Digite o valor do produto: R$123
Resultado da soma: R$299.00
Resultado da soma: R$299.00

###10. Faça um algoritmo que conheça 4 preços de produtos, calcule e mostre a média aritmética dos preços. Pode implementar com o comando while ou for.

In [ ]:
n1 = 0
for i in range(4):
    preco = float(input("Digite o preço: R$"))
    n1 += preco

media = n1/4

print(f"Média dos preços: R${media:.2f}")

Digite o preço: R$12
Digite o preço: R$123
Digite o preço: R$432
Digite o preço: R$123
Média dos preços: R$172.50

###11. Faça um algoritmo que calcule e informe a média de idades de 5 alunos. Pode implementar com o comando while ou for.

In [ ]:
i = 0
n1 = 0

while(i<5):
    idade = int(input("Digite a idade: "))
    n1 += idade
    i += 1

media = n1/5

print(f"Média de idade: {media:.0f}")

Digite a idade: 12
0
Digite a idade: 54
1
Digite a idade: 23
2
Digite a idade: 12
3
Digite a idade: 42
4
Média de idade: 28.6

###12. Faça um programa que receba a idade e a altura de 20 pessoas. Calcule e exiba a média das alturas das pessoas com mais de 20 anos.

In [ ]:
n1 = 0
n2 = 0
for i in range(20):
    idade = int(input("Digite a idade: "))
    if idade > 20:
        altura = float(input("Digite a altura: "))
        n1 += altura
        n2 += 1

media = n1/n2

print(f"Média de alturas: {media:.2f}")

###13. Faça um algoritmo que leia o preço de 20 TV, determine e apresente a média dos preços que possuem valor maior que R$ 1000. Pode implementar com o comando while ou for.

In [ ]:
n1 = 0
n2 = 0
for i in range(20):
    valor = float(input("Digite o valor da TV: R$"))
    if valor > 1000:
        n1 += valor
        n2 += 1

media = n1/n2

print(f"Média de valores: R${1:.2f}")

Digite o valor da TV: R$999
Digite o valor da TV: R$999
Digite o valor da TV: R$2000
Digite o valor da TV: R$140
Digite o valor da TV: R$120
Digite o valor da TV: R$1231
Digite o valor da TV: R$1234
Digite o valor da TV: R$123
Digite o valor da TV: R$1234
Digite o valor da TV: R$1234
Digite o valor da TV: R$234
Digite o valor da TV: R$1234
Digite o valor da TV: R$1234
Digite o valor da TV: R$2134
Digite o valor da TV: R$1234
Digite o valor da TV: R$1234
Digite o valor da TV: R$1234
Digite o valor da TV: R$1234
Digite o valor da TV: R$1234
Digite o valor da TV: R$1234
Média de valores: R$1352.79

###14. Faça um programa que receba a altura e nome  de 5 pessoas. Encontre e apresente a altura da pessoa mais alta e da mais baixa e seus respectivos nomes.

In [ ]:
# exemplo com while
i = 0
while i < 5:
    nome = input("digite o nome: ")
    altura = float(input("Digite a altura: "))
    if i = 0:
        n1 = altura
        n2 = altura
        nmaior = nome
        nmenor = nome
    elif altura > n1:
        n1 = altura
        nmaior = nome
    elif altura < n2:
        n2 = altura
        nmenor = nome
    i += 1

print(f"A maior pessoa é {nmaior} com {n1:.2f} de altura.\nA menor é {nmenor} com {n2:.2f}.")

digite o nome: Renan
Digite a altura: 1.76
digite o nome: Julia
Digite a altura: 1.60
digite o nome: Maurico
Digite a altura: 1.90
digite o nome: Mafer
Digite a altura: 1.75
digite o nome: Fernanda
Digite a altura: 1.65
A maior pessoa é Maurico com 1.90 de altura.	A menor é Julia com 1.60

In [ ]:
# exemplo com for

for i in range(5):
    nome = input("digite o nome: ")
    altura = float(input("Digite a altura: "))
    if i == 0:
        n1 = altura
        n2 = altura
        nmaior = nome
        nmenor = nome
    elif altura > n1:
        n1 = altura
        nmaior = nome
    elif altura < n2:
        n2 = altura
        nmenor = nome

print(f"A maior pessoa é {nmaior} com {n1:.2f} de altura.\nA menor é {nmenor} com {n2:.2f}.")

KeyboardInterrupt: Interrupted by user

###15. Faça um programa que receba dez valores inteiros, encontre e apresente o maior e o menor valor.

In [ ]:
n1 = 0
n2 = 0
for i in range(10):
    numero = float(input("Digite o número: "))
    if numero > n1:
        n1 = numero
    elif numero < n2 or n2 == 0:
        n2 = numero

print(f"Maior número: {n1}\nMenor número: {n2}")

Digite o número: 23
Digite o número: -5
Digite o número: 12
Digite o número: 10
Digite o número: -10
Digite o número: 21
Digite o número: 3
Digite o número: 12
Digite o número: 12
Digite o número: 12
Maior número: 23.0
Menor número: -10.0

###16. Os alunos do primeiro módulo farão a P1 da disciplina de Algoritmo. Crie um algoritmo que leia as 40 notas e RAs, encontre e apresente a maior, a menor e os respectivos RAs desses alunos.

In [ ]:
n1 = 0
n2 = 0
ramaior = ""
ramenor = ""
for i in range(40):
    ra = input("digite o RA: ")
    nota = float(input("Digite a nota: "))
    if nota > n1:
        n1 = nota
        ramaior = ra
    elif nota < n2 or n2 == 0:
        n2 = nota
        ramenor = ra

print(f"A maior nota é {n1:.1f} do aluno RA: {ramaior}\nA menor é {n2:.1f} do aluno RA: {ramenor}")

digite o RA: 123
Digite a nota: 9.8
digite o RA: 213
Digite a nota: 7.8
digite o RA: 111
Digite a nota: 1.0
digite o RA: 212
Digite a nota: 7.0
digite o RA: 145
Digite a nota: 5.0
A maior nota é 9.80 do aluno RA: 123
A menor é 1.00 do aluno RA: 111

###17. Faça um programa que calcule e apresente as tabuadas do 3 ao 7. Este exercício utiliza DUAS estruturas de repetição.

In [ ]:
# exemplo for
for i in range(3,8):
    print(f"Tabuada do {i}")
    for j in range(11):
        print(f"{i}x{j}={i*j}")
    print("\n")

In [ ]:
# exemplo while
i = 3
while i <= 7:
    j = 0
    print(f"Tabuada do {i}")
    while j <= 10:
        print(f"{i}x{j}={i*j}")
        j += 1
    print("\n")
    i += 1

Tabuada do 3
3x0=0
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30


Tabuada do 4
4x0=0
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40


Tabuada do 5
5x0=0
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50


Tabuada do 6
6x0=0
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60


Tabuada do 7
7x0=0
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

###18. Faça um programa para o curso de ADS (6 módulos), cada sala tem 30 alunos, calcule e apresente os seguintes itens:
*  Quantidade de homens e mulheres de cada módulo;
*  Média de idades de cada módulo;
*  Quantidade de homens e mulheres do curso todo;
*  Média de idades do curso todo.

Observação: este exercício utiliza DUAS estruturas de repetição.

In [ ]:
mcurso = 0
fcurso = 0
n1curso = 0
n2curso = 0

for modulo in range(1,7):
    print(modulo,'º módulo','.'*50)
    mmodulo = 0
    fmodulo = 0
    n1modulo = 0
    n2modulo = 0
    for alunos in range(30):
        idade = int(input("Digite a idade: "))
        genero = input('Cadastre o gênero M/F: ')
        if genero.upper() == 'F':
            fcurso += 1
            fmodulo += 1
            n1curso += idade
            n1modulo += idade
            n2curso += 1
            n2modulo += 1
        elif genero.upper() == 'M':
            mcurso += 1
            mmodulo += 1
            n1curso += idade
            n1modulo += idade
            n2curso += 1
            n2modulo += 1
    mediamodulo = n1modulo/n2modulo
    print(f"Quantidade de mulheres no {modulo}º Módulo: {fmodulo}.\nQuantidade de homens no {modulo}º Módulo: {mmodulo}.\nMédia de idades: {mediamodulo:.0f}\n")

mediacurso = n1curso/n2curso
print(f"Quantidade de mulheres no curso: {fcurso}.\nQuantidade de homens curso: {mcurso}.\nMédia de idades: {mediacurso:.0f}")